{% extends "layout.html" %}

{% load static %}
{% load staticfiles %}


{% block content %}

 <div class="Sponsors">

     
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="{% static "/images/logo-samsungbusiness.png" %}" alt="Generic placeholder image" width="140" height="140">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
             <img class="img-circle" src="{% static "/images/logo-microsoft.png" %}" alt="Generic placeholder image" width="140" height="140">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
             <img class="img-circle" src="{% static "/images/logo-emmi.png" %}" alt="Generic placeholder image" width="140" height="140">
        </div><!-- /.col-lg-4 -->
             <div class="col-lg-4">
             <img class="img-circle" src="{% static "/images/logo-sap.png" %}" alt="Generic placeholder image" width="140" height="140">

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>
{% endblock %}
