{% extends "layout.html" %}

{% load staticfiles %}


{% block content %}


  <div class="container jam">

<hr class="featurette-divider">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-md-7">
        <h2>Topology of the connected devices</h2>
        <h3>Each device is a single pixel</h3>
      </div>

      <div id="the-grid"></div>

    </div><!-- /.row -->


    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

<script src="{% static 'js/jam-grid.js' %}"></script>

{% endblock %}
