{% extends "layout.html" %}

{% load static %}
{% load staticfiles %}


{% block content %}


  <div class="container jam">

  <hr class="jam-divider">

    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin: 10px 0;">
      <div class="col-md-3">
        {% static "" as baseUrl %}
        <img src="{{ baseUrl }}jams/{{ session_id }}/logo.png"></img>
      </div>
       <div class="col-md-4">
        <h2>{{ jam.meta.artist }}</h2>
        <h3>{{ jam.meta.title }}</h3>

        <div>
          <hr>
          <button id="jamplay" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> 
          </button>
            <button id="jamstop" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> 
          </button>
          <audio id="jamaudio" controls>            
            <source src="{{ baseUrl }}jams/{{ session_id }}/song.mp3" type="audio/mpeg" />
            <a href="{{ baseUrl }}jams/{{ session_id }}/song.mp3">song</a>
          </audio>
        </div>
      </div>
    </div><!-- /.row -->

    <div class="row">
      <div class="col-md-7" class="toolbar">
        
        <div class="clock" style="height: 0px;margin:2em;"></div>

    </div><!-- /.row -->
    <div class="row">      
      <br>
      <div class="col-md-7">
        <div id="thegrid"></div>
      </div>
    </div><!-- /.row -->

    <!-- /END THE FEATURETTES -->

<script src="{% static 'js/jam-grid.js' %}"></script>

{% endblock %}

{% block bottomjs %}
    <script src="{% static "js/flipclock.min.js" %}"></script>    
    <!-- <script src="{% static "js/bootstrap-player.js" %}"></script> -->
{% endblock %}

