{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}

{% include "rml/carousel.html" %}

<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        
        
        
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "images/connected.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Connectivity</h2>
          <p>Ultimate party experience at parties, concerts and locations</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "images/personalised.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Personalised</h2>
          <p>Adapt your choices with location. Get access to the exclusive events</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "images/head.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Opto-Music</h2>
          <p>Our mobile app uses color and brightness to <code>"show" the music directly on your phone</code>.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Just provide a location and an action <span class="text-muted">Geofencing</span></h2>
          <p class="lead">Push notifications, Alerts according to the region of interest. Imagine stadiums, flash mobs, home parties full of people enjoying partying in a new way.  We are excited about all the possible applications and opportunities this project will bring!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static "images/icon-512.png" %}" alt="Generic placeholder image">
             
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">As an organiser <span class="text-muted">You are interested in engaging your audience</span></h2>
          <p class="lead">We provide solutions with interactivity</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
 

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">As an advertiser <span class="text-muted">See through the eyes of your potential customers</span></h2>
          <p class="lead"></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

{% endblock %}
