{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />

<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><span style="color: white;">rockmylight</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>JAM sessions<span class="caret"></span></a>
                  <ul class="dropdown-menu">                  
                    <li><a href="/jam_session/1">Crazy Town - Butterfly</a></li>
                    <li><a href="/jam_session/2">Psy - Gangnam Style</a></li>
                    <li><a href="/jam_session/3">Deep Purple - Space Truckin'</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Github</li>
                    <li><a href="https://github.com/RockMyLight/android-app">Android app</a></li>
                    <li><a href="https://github.com/RockMyLight/django-rml">Server side</a></li>
                  </ul>
                </li>
                <li style=""><a href="#about">About</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

<script src="{% static 'js/rml-assets.min.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>
