<ul class="nav nav-sidebar">
  <li class="divider"></li>
  <li class="dropdown-header">Dashboard</li>
  <li><a href="/chef/dashboard">Overview <span class="sr-only">(current)</span></a></li>
  <li><a href="#">Timeline</a></li>
</ul>

<hr>

<ul class="nav nav-sidebar">
  <li class="divider"></li>
  <li class="dropdown-header">Food</li>
  <li><a href="/chef/food/dishes/">Dishes</a></li>
  <li><a href="/chef/food/menu/">Menu card</a></li>
</ul>

<hr>

<ul class="nav nav-sidebar">
  <li class="divider"></li>
  <li class="dropdown-header">Booking</li>
  <li><a href="/chef/booking/map/">Restaurant map builder</a></li>
  <li><a href="/chef/booking/tables/">Nailed tables map</a></li>
  <li><a href="/chef/booking/nailed-tables/">Nailed tables</a></li>
</ul>

<hr>

<ul class="nav nav-sidebar">
  <li class="divider"></li>
  <li class="dropdown-header">Sales and marketing</li>
  <li><a href="/chef/marketing/campaign/">Advertisement campaign</a></li> <!-- Ads: External + Naible -->
<!-- <ul class="nav-sidebar">
	Create an event to boost your bookings
	<li><a href="#">Naible</a></li>
	<li><a href="#">Google Adwords</a></li>
	<li><a href="#">Facebook</a></li>
</ul> -->
  <li><a href="#">Analytics</a></li>
  <li><a href="#">Competition comparison</a></li>
</ul>

<hr>

<ul class="nav nav-sidebar">
  <li class="divider"></li>
  <li class="dropdown-header">Statistics</li>
  <li><a href="/chef/statistics/report/">General Report</a></li>
  <li><a href="#">Page counters</a></li> <!-- Number of restaurant page visits, dish discovery, visibility counters -->
</ul>

<!-- Goes to Profile drop down as Naible Page (with option ot buy a domain name)
<hr>
<ul class="nav nav-sidebar">
<li class="divider"></li>
<li class="dropdown-header">Website</li>
<li><a href="#">Page creator</a></li>
<li><a href="#">Customer feedback</a></li>
<li><a href="#">Restaurant reviews</a></li>
</ul>
 -->

{% load staticfiles %}
<script src="{% static 'js/sidebar.js' %}"></script>


