#the-grid .cell  {
    width: 5em;
    height: 5em;
    position: absolute;
    left: 0em;
    top: 0em;
    background: rgb(144, 238, 144);
    border: 2px solid #d6dadc;
}

.tables-map {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #d6dadc;
}

.table-icon {
  padding: 5px;
}

.table-icon-reserved {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.element-icon {
  background-color: #cccccc;
  border-radius: 3px;
}

.element-bar,
.element-stairs,
.element-flower {
  height: 40px;
  line-height: 40px;
}

.element-bar {
  width: 100px;
}

.element-stairs {
  width: 70px;
}

.element-flower {
  width: 40px;
}

.element-exit,
.element-toilet,
.element-kitchen,
.element-wall,
.element-window {
  width: 70px;
  height: 20px;
  line-height: 20px;
}
