.jam-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

#thegrid {
  left: 30%;
  right: 50%;
  background: rgb(238, 238, 238);
  width: 1070px; 
  /*height: 100px;*/
  /*position: relative;  */
}

#thegrid .cell  {
  background: rgb(144, 238, 144);
  border: 2px solid #d6dadc;
  -webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;
  text-align: center;
  font-size: 3em;
  line-height: 1.5em;
}

.jam .toolbar {
  margin: 20px 0;
}

.jam .clock {
  position: relative;
  float: right;
  top: -240px;
  left: 600px;
}

